html {
  font-family: sans-serif;
  background: hsl(171, 100%, 41%);
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 hsla(0, 0%, 21%, 0.425);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  color: hsl(0, 0%, 21%);
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  color: #fff;
  background: hsl(141, 71%, 48%);
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-left: 1px solid #D1E2FF;
}